.bg-blue {
    background-color: #3A7CA5;
}

.text-blue{
    color: #3A7CA5;
}

.text-blue-light {
    color: #F1F9FC;
}

.bg-blue-light {
    background-color: #F1F9FC;
}

.btn-hover:hover {
    opacity: 0.9;  
}

 .btn-close {
  filter: invert(1);
}

.custom-table th {
  background-color: #3A7CA5 ;
  color: #F1F9FC;
}


.nav-link {
  color: #F1F9FC;
}

.modal-body {
  border: 3px solid #F1F9FC;
  box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.3);
}

.star-rating {
    cursor: pointer;
    transition: color 0.3s ease; 
  }
  
  .star-rating:hover {
    color: gold !important; 
  }

* {
    font-family: 'Montserrat',sans-serif;
  }

  body {
    background-color: #F1F9FC;
  }

  body::-webkit-scrollbar {
    display: none;
    overflow: hidden;

  }
  
  .offcanvas-body {
    overflow: hidden;
  }

  .hero-section {
    margin-top: 5rem;
}

#sidebar .sidebar-nav-link {
  background-color: #429ad1;
  margin-top: 15px;
  color: #F1F9FC;
  text-align: center;
  width: 150px;
  font-size: 14px;
  border-radius: 50px;
}

#sidebar .nav-link:hover {
  opacity: 0.8;
  color: white;
  font-weight: 400;
}

.carousel-indicators [data-bs-target] {
  background-color: #3A7CA5; 
  width: 10px;
  height: 10px;
  border-radius: 50%;
}

.carousel-indicators {
    bottom: -50px; 
    margin-top: 25px;
  }

.carousel-indicators .active {
  background-color: #3A7CA5;
  opacity: 1;
}

.form-check-input{
  background-color: rgba(194, 193, 193, 0.582);
}


.chat-body .bot .message-text{
  border-radius: 13px 13px 13px 3px;
  
}

@media (max-width: 768px) {
  .custom-table th,
  .users-table td, .tinjauan-table td, .edukasi-table td, .janji-table td,
  .btn-primary, .footer, .card-body
   {
    font-size: 14px; 
  }

  .btn-tinjauan{
    margin: -25px;
    width: 12px;
  }
}


